._.DS_Store
.DS_Store
.idea
.eclipse
.gitignore
__pycache__
*~
*.log
*.err
*.pyc
*.dump
*.swp
project.sublime-project
!/.gitignore
TODO
tmp/
/tests/cli/tmp
/tests/venv
/tests/config
/.debug
/.debug-config
/snapshots
/tags
